
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 offset-md-4">
        <form [formGroup]="form" (ngSubmit)="signUp()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" name="username"  class="form-control" aria-describedby="usernameHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" id="email" name="email" formControlName="email"  class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Pbassword</label>
              <input type="password" id="password" name="password" formControlName="password" class="form-control" id="password" placeholder="Password">
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>